
<div>
    <h2><span>Subsidiary</span> {{vm.subsidiary.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Owner</span></dt>
        <dd>
            {{vm.subsidiary.owner.login}}
        </dd>
        <dt><span>Subsidiary</span></dt>
        <dd>
            {{vm.subsidiary.subsidiary.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="subsidiary-detail.edit({id:vm.subsidiary.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
