
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubsidiaryLabel">Create or edit a Subsidiary</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subsidiary.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subsidiary.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" ng-model="vm.subsidiary.owner" ng-options="user as user.login for user in vm.users track by user.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.owner.$invalid">
            <p class="help-block"
                ng-show="editForm.owner.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_subsidiary">Subsidiary</label>
            <select class="form-control" id="field_subsidiary" name="subsidiary" ng-model="vm.subsidiary.subsidiary" ng-options="user as user.login for user in vm.users track by user.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.subsidiary.$invalid">
            <p class="help-block"
                ng-show="editForm.subsidiary.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
