
<div>
    <h2><span>Time Entry</span> {{vm.timeEntry.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{vm.timeEntry.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Time</span></dt>
        <dd>
            <span>{{vm.timeEntry.time}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.timeEntry.description}}</span>
        </dd>
        <dt><span>Project</span></dt>
        <dd>
            <a ui-sref="project-detail({id:vm.timeEntry.project.id})">{{vm.timeEntry.project.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="time-entry-detail.edit({id:vm.timeEntry.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
