<div>
    <h2>Report - Summary by Project for currently active User</h2>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>Project</span> </th>
                    <th><span>Time</span> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in vm.data ">
                    <td>{{record.project_name}}</td>
                    <td>{{record.time}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
